<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| Tech-Fox | Sobre |</title>
    <link rel="shortcut icon" href="/View/imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../CSS/about.css">
</head>
<body>
<section id="header">
    <header>
        <div class="header-Image">
            <img src="../imgs/Fauget-removebg-preview.png" alt="">
        </div>
        <div class="home-Content">
                <ul>
                    <a href="/index.html">
                        <li>Home</li>
                    </a>
                    <a href="#info">
                        <li>Informações</li>
                    </a>
                    <a href="#problem-objective">
                        <li>Problemática e Objetivo</li>
                    </a>
                    <a href="/View/HTML/about.html">
                        <li>Sobre</li>
                    </a>
                </ul>
        </div>
        <div class="login-Registre">
            <div class="container-Login-Register">
                <img src="/View/imgs/anonimo.png" alt="foto anonimo">
                <ul>
                    <a href="/View/HTML/register.html">
                        <li>Registrar</li>
                    </a>
                    <a href="/View/HTML/login.Html">
                        <li>Login</li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
</section>
    <div class="header">
        <h1>Estamos entusiasmados em anunciar o próximo grande evento no mundo da tecnologia, o Tech-Fox Hackathon. </h1>
        <h3>Uma iniciativa do Squad 10</h3>
    </div>
<!--INFO-->
    <section id="info">
        <div class="info-Organization">
            <div class="info-Circle">
                <div class="Circle">
                    <img src="/View/imgs/calendário.png" alt="imgc1">
                </div>
                <p><b>DATAS E DURAÇÃO</b></p>
                <p>Começando no dia <b>11 de abril e durar até o dia 26 de abril</b>, permitindo aos participantes mergulhar profundamente em seus projetos e ideias <b>15 dias</b>.</p>
            </div>
            <div class="info-Circle">
                <div class="Circle">
                    <img src="/View/imgs/laptop.png" alt="imgc2">
                </div>
                <p><b>COMO SERÁ REALIZADO?</b></p>
                <p>Pensando no conforto e praticidade, o evento será realizado de forma <b>completamente remota</b>.</p>
            </div>
            <div class="info-Circle">
                <div class="Circle">
                    <img src="/View/imgs/grupos.png" alt="imgc3">
                </div>
                <p><b>EQUIPES</b></p>
                <p>Para participar, os interessados devem formar uma <b>equipe de 5 ou 6 membros</b> pois acreditamos que a colaboração é a chave para a inovação.</p>
            </div>
            <div class="info-Circle">
                <div class="Circle">
                    <img src="/View/imgs/estrela.pn g" alt="imgc4">
                </div>
                <p><b>CRITÉRIOS AVALIATIVOS</b></p>
                <p>Os critérios de avaliação são <b>o texto de apoio, o protótipo e um vídeo de pitch de 5 minutos</b>. Haverá também <b>lives de apoio</b> para orientar na estruturação da ideia, oferecendo uma grande oportunidade de aprendizado.
                </p>
            </div>
        </div>
    </section>
    <!--problem and objective-->
    <section id="problem-objective">
        <div class="problem-objective-container">
            <div class="problem-objective-organization">
                <h2>Problemática</h2>
                <p>A falta de consumo sustentável é um problema complexo que afeta nosso planeta e sociedade. Isso inclui a desinformação e falta de conhecimento sobre práticas sustentáveis, o custo mais alto de produtos sustentáveis, a desigualdade social no acesso a esses produtos, o impacto ambiental do consumo excessivo e a responsabilidade das empresas em promover a sustentabilidade. É crucial que todos - consumidores, empresas e governos - trabalhem juntos para promover o consumo sustentável e superar esses desafios. </p>
                <a href="https://g1.globo.com/natureza/blog/amelia-gonzalez/post/2018/07/25/pesquisa-mostra-que-76-nao-praticam-consumo-consciente-no-brasil.ghtml">
                    <button>Saiba mais</button>
                </a>
            </div>
            <div class="problem-objective-organization1">
                <h2>Objetivo</h2>
                <p>O objetivo principal deste hackathon é conscientizar as pessoas sobre o Consumo Responsável. Acreditamos que a tecnologia tem um papel crucial a desempenhar na promoção de práticas sustentáveis. Estamos ansiosos para ver as soluções inovadoras que os participantes irão desenvolver para abordar esta problemática.</p>
                <a href="https://www.ecycle.com.br/consumo-sustentavel/">
                    <button1>Saiba mais</button1>
                </a>
            </div>
        </div>
    </section>
    <!--Message-->
    <div class="Message-container">
        <div class="Message-left">
            <h1>Pra finalizar...</h1>
            <h2>Estamos ansiosos para ver o que os participantes vão criar e como suas inovações vão moldar o futuro do Consumo Responsável.</h2>
        </div>
        <div class="Message-right">
            <div class="Message-box">
                <p>Fique atento para mais atualizações sobre o Tech-Fox Hackathon!</p>
            </div>
            <div class="Message-box">
                <p>Caso ainda não esteja inscrito, se inscreva e participe da formação de um futuro melhor.</p>
            </div>
            <div class="Message-box">
                <p>Se você tiver alguma pergunta ou precisar de mais informações, não hesite em perguntar. Estamos aqui para ajudar!</p>
            </div>
        </div>
    </div>
    <!--FOOTER-->
    <section id="footer">
        <footer>
            <div class="footer-Content">
                <div class="container-Footer">
                    <img src="/View/imgs/Fauget-removebg-preview.png" alt="">
                </div>
                <ul>
                    <h2>Seguimento</h2>
                    <a href="/index.html">
                        <li>Home</li>
                    </a>
                    <a href="/index.html">
                        <li>Quem Somos?</li>
                    </a>
                    <a href="/index.html">
                        <li>Tech-Fox</li>
                    </a>
                    <a href="/View/HTML/about.html">
                        <li>Sobre</li>
                    </a>
                </ul>
                <ul>
                    <h2>Novo por aqui?</h2>
                    <a href="/View/HTML/register.html">
                        <li>Registrar</li>
                    </a>
                    <h2>Já tem conta?</h2>
                    <a href="/View/HTML/login.Html">
                        <li>Login</li>
                    </a>
                </ul>
                <div class="container-Footer">
                    <img src="/View/imgs/PDA LOGO.png" alt="">
                </div>
            </div>
        </footer>
    </section>
</body>
</html>