<!DOCTYPE html>
<html lang="pt-BR"></html>
<head>
  <meta charset="UTF-8" />
  <title>| Tech-Fox | Registro |</title>
  <link rel="shortcut icon" href="View/SRC/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  
</head>
<body>
  <div class="container" >
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>
     

      <div id="register-user">
        <form method="post" action=""> 
          <h1>Cadastro</h1> 
           
          
            <ul>
              <li>
                <label for="name-cad">Seu nome</label>
              <input id="name-cad" name="name-cad" type="text" placeholder="name" />
            </li>

              <li><label for="email-cad">Seu e-mail</label>
              <input id="email-cad" name="email-cad"  type="email" placeholder="contato@htmlecsspro.com"/>
            </li>

              <li><label for="password-cad">Sua senha</label>
              <input id="password-cad" name="password-cad"  type="password" placeholder="ex. 1234"/>
            </li>
            
              <li><label for="confirmPassword">Confirmar senha</label>
              <input id="confirmPassword" name="confirmPassword"  type="Password" placeholder="ex. 1234"/>
            </li>
            </ul>
          
           
           
            <input type="submit" id="register" value="Registrar"/> 
            <input  type="reset" value="Limpar" id="clear"/>
           
          <p class="link">  
            Já tem conta? 
            <!--<a href="#paralogin"> Ir para Login </a> -->

          
        </form>
      </div>
    </div>
  </div>  
  <script src="../JavaScript/register.js"></script>
</body>
</html>